body{
    background-color:black;
}
.header{
    
    height:70px;
    background-color:black
    
   }
.image_first{
    height: 60px;
    padding: 6px;
    float:left;
    margin-left:70px;

}
.image_second{
    width: 103px;
    height: 48px;
    font-size: 40px;
    line-height: 48px;
    margin-left:16px;
    margin-top:15px;
}
.image_third{
    float:right;
    width: 40px;
    height: 10px;
    margin-top:25px;
    margin-right:11px;
}
.image_forth{
    width: 40px;
    height: 10px;
    float:right;
    margin-top:25px;
    margin-right:11px;

}
.image_fifth{
    width: 40px;
    height: 10px;
    margin: 12px;
    margin-left:70px;

}
.header2{
    border:solid red 1px;
    height:70px;
    background-color:black
    
}
.movie_row{
    width: 960px;
    height: 277px;
    margin-left:110px;
  
}

.movie_row1{
    width: 200px;
    height: 252px;
   

}
.movie_row2{
    width:728px;
    height: 250px; 
    padding: 0px 9px 0px 0px;
    float:right;
    margin-top:-255px;
}


.image_first5{
    width: 26px;
    height: 28px;
    position: relative;
    float:right;
    
}
.like_row{
    width: 775px;
    height: 40px;
    
}
.like-btn{
    float: left;
}
.vote{
    float: left;
    padding: 8px;
    border-radius:32px;
    color:white;  
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}
.dislike-btn {
    float: left;
}
.like_image{
    width: 26px;
    height: 29px;
    margin-top: 4px;
    margin-left: 4px;
    border: 1px;
    width: 24px
}
.dislike_image{
    width: 24px;
    height: 29px;
    border: 1px;
    margin-top:5px;
    
}
    

.movie_image{
   width: 416px;
    height: 48px;
    font-family: Kanit;
    font-size: 36px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;
    color:white;



}
.pragraph1{
    color:white;
    width: 248px;
    height: 18px;
    font-family: Kanit;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;


}
.pragraph{
    color:white;
    width: 495px;
    height: 64px;
    font-family: Kanit;
    font-size: 15px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    margin-top:5px;


}
.movie_image1{
    font-family: Kanit;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color:white;
    margin-bottom:25px;

}
.Add_move_row{
    
}
